


  <div class="container">
      <p class=" text-center"> Get Meals With Instructions</p>
      <form #form="ngForm" (ngSubmit)="getAllMeals(form)" >
        <div class="form-group">
          <label for="Meal Check"></label>
          <input type="text" placeholder="e.g chocolate" name="Meal" ngModel
          required>
        </div>
  
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
  </div>
<



<div class="row">
  <div class="card col-md-6 mx-2 mb-4" style="width: 18rem" *ngFor ="let meal of mealList">
    <img [src] =" meal.strMealThumb"class="card-img-top" alt=""> 
    <div class="card-body text-center">
  
      <p > Meal: {{meal.strMeal}} </p>
      <p> From:  {{meal.strArea}}  </p>
      <p> Category : {{meal.strCategory}}  </p>
      <p> Cooking Instructions: {{ meal.strInstructions}} </p>
        
    </div>
  </div>
 
</div>



































